<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>{{question.question_text}}</h1>
    <input type="radio" id = "c1" name="choice" checked>
    <label for = "c1">요오오오오</label>
    <br>
    <input type="radio" id = "c2"  name="choice">
    <label for = "c2">요오오오오오오오오</label>
    <br>
    <input type="radio" id = "c3"  name="choice">
    <label for = "c3">요오오오호오오오오오오오</label>
    <br>
    <br>
    <input type="button" value="투표!">

</body>
</html>